@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Inicio Fuentes */
    --fuenteLetraMenu: "Poppins", sans-serif;
    --fuentePorDefecto: sans-serif;
    /* Fin Fuentes */

    /* Inicio Colores */
    --fondoPagina: #1c1c1c;
    --hoverEnlaces: #00ff66;
    --activeEnlaces: #00762f;
    --colorIconos: #00ff66;
    --colorPalabrasDinamicas: #00ff66;
    /* Fin Colores */
}

* {
    font-family: var(--fuentePorDefecto);
    font-weight: 700;
    list-style: none;
    margin: 0;
    padding: 0;
    background: var(--fondoPagina);
}

.menuPrincipal ul {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Alinea elementos a los extremos */
    height: 5%;
    width: auto;
    padding: 10px 30px 10px 30px;
}

.menuPrincipal a {
    display: flex;
    font-family: var(--fuenteLetraMenu);
    color: white;
    text-decoration: none;
    align-items: center;
    white-space: nowrap; /* Evita que el texto haga un salto de línea */
}

.menuPrincipal .elementosMenuderecha a:hover {
    text-decoration: underline;
    text-decoration-color: var(--hoverEnlaces);
    text-decoration-thickness: 3px;
    text-underline-offset: 10px;
}

.menuPrincipal a:active {
    text-decoration: underline;
    text-decoration-color: var(--activeEnlaces);
    text-decoration-thickness: 2px;
    text-underline-offset: 10px;
}

.logo img {
    width: 5vh;
    margin-right: 10px; /* Espacio entre la imagen y el texto */
}

.logo span {
    font-size: 20px;
}

.logo .titulo span {
    margin-right: 60vh; /* separacion entre el titulo de la pagina y los elementos de la derecha del menu */
}

.dinamicas {
    color: var(--colorPalabrasDinamicas);
    display: inline-block;
    margin-left: 6px;
    min-width: 100px;
    text-align: left;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.fotoEncabezado {
    width: 100%;
    height: 66.5vh;
    background-image: url(../img/pc/banner.webp);
    background-size: cover;
    background-repeat: no-repeat;
    mask-image: linear-gradient(
        black 80%,
        transparent
    );
}

.menuMovil {
    display: none;
    /* position: relative; */
}

/* 
.menuMovilContenido {
    display: none;
    position: absolute;
}

.menuMovil input[type="checkbox"]:checked ~ .menuMovilContenido {
    display: block;
}
*/

footer {
    background: #000;
}

footer a {
    background: transparent;
}

footer .iconos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: transparent;
}

footer .iconos svg {
    margin: 0 10rem;
    height: 4.375rem;
    fill: var(--colorIconos); /* Color de los íconos */
    background: transparent;
}

footer span {
    display: flex;
    color: white;
    font-style: italic;
    margin-top: 20px;
    justify-content: center;
    background-color: #000;
}

@keyframes fade {
    0%, 20%, 100% { opacity: 0; }
    30%, 90% { opacity: 1; }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {

}

/* Movil */
@media (max-width: 767px) {
    .menuPrincipal ul {
        display: none;
    }

    .menuMovil {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        margin-bottom: 50px;
        padding: 10px 30px;
    }

    .menuMovil .logoMovil {
        margin-bottom: 10px;
    }

    .menuMovil img {
        width: 40px;
        height: auto;
    }

    .menuMovil .titulo {
        margin-bottom: 10px;
        color: white;
        font-family: var(--fuenteLetraMenu);
        font-size: 24px;
    }

    .menuMovil input[type="checkbox"] {
        display: none;
    }

    .menuMovil label {
        cursor: pointer;
        color: white;
        font-family: var(--fuenteLetraMenu);
        font-size: 18px;
        padding: 10px;
        border: 2px solid var(--hoverEnlaces);
        border-radius: 5px;
        display: inline-block;
        text-align: right;
        margin-top: 10px;
    }

    .menuMovilContenido {
        display: none;
        position: absolute;
        background: var(--fondoPagina);
        width: 250px;
        top: 100%;
        z-index: 1000;
        padding: 10px 0;
        box-shadow: 0 4px 8px #0003;
        text-align: center;
    }

    .menuMovil input[type="checkbox"]:checked ~ .menuMovilContenido {
        display: block; /* muestra cuando el check esta marcado */
    }

    .menuMovilContenido a {
        display: flex;
        padding: 10px 20px;
        color: white;
        text-decoration: none;
        font-family: var(--fuenteLetraMenu);
        border-bottom: 1px solid #444;
        text-align: center;
        justify-content: center;
    }

    .menuMovilContenido a:hover {
        background: #333;
    }
}
